/*
  FILE: pacific.css
 
  NAME   : Sohit Pal
  EMAIL  : sohit_pal@student.uml.edu
  SCHOOL : Umass Lowell
  COURSE : GUI Programming I
 
  START DATE : September 20, 2016
  START TIME : 6:57 PM

  UPDATE DATE: December 9, 2016
  REASON: Resubbmitting this assignment to fix some issues.
 
  DESCRIPTION:
          This style sheet is for Assignment 3 for GUI Programming I
*/

/* VARIOUS */
header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

/* BODY */
body {
	 background: white; 
	 background-image: url("ptrbackground.jpg");
	 color: #666666;
	 font-family: Arial, Helvetica, sans-serif;
}


/* HEADERS */
h1 { 
	color: white; 
	margin-bottom: 0; 
	background: #000033 url("sunset.jpg");
    background-position: top right;
    background-repeat: no-repeat;
	font-family: Georgia, "Times New Roman", serif;
	padding: 10px;
}
h2 {
	color: #3399CC;
}
h1,h2 {
	font-family: Georgia, "Times New Roman", serif;
}


/* NAV */
nav {
	float: left; 
	width: 175px; 
	padding-left: 20px;
	padding-right: 5px; 
	padding-top: 20px; 
	padding-bottom: 5px; 
	/*font-weight: bold; */
}
nav a {
	 text-decoration: none;
}
nav a:link {
	color: #000033; 
}
nav a:visited { 
	color: black;
}
nav a:hover {
	color: white; 
}
nav ul {
	list-style: none; 
	margin: 0; 
	padding-left: 0;
	font-size: 1.1em;	 
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: white;
}


/* WRAPPER */
#wrapper {
	width: 80%;
	min-width: 600px; 
	background: white;
	background-color: #8fc7e3;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}


/* CONTENT */
#content {
    padding-left: 1px;
	padding-right: 20px; 
	padding-top: 20px; 
	padding-bottom: 30px; 
    margin-left: 175px;
    background-color: white;
    font-size: 16px;
    height: 550px;
}
#content img {
	float:left;
	padding-right: 20px;
}
#content ul {
	list-style-position: inside;
	list-style-image: url("marker.gif");
}


/* CONTACT */
#contact {
	font-size: 90%;
}


/* RESORT */
.resort { 
	color: #5c7fa3; 
	font-weight: bold; 
}


/* FOOTER */
footer {
    padding: 20px;
    margin-left: 175px;
    text-align: left;
    background-color: white;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    clear: both;    
}