/*
 FILE: style.css

 NAME   : Sohit Pal
 EMAIL  : sohit_pal@student.uml.edu
 SCHOOL : Umass Lowell
 COURSE : GUI Programming I
 
 START DATE : September 14, 2016
 START TIME : 9:27 PM

 DESCRIPTION:
         This is a style sheet for my entire website.t
*/

/* Import Roboto Font */
@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");


/* BODY */
html, body {
    height: 100%;
	width: 100%;
}
body {
    font-family: "Roboto";
    background-color: #1C1D26;

    position: relative;
    
    height: 100%;
    width: 100%;	
	left: 0;
	margin: 0;
	padding: 0;
}
body, p, ul {
    color: lightgray;
}


/* WRAPPER */
#wrapper {
	min-height: 100%;
	position: relative;
}


/* HEADER */
#header {
    font-weight: bold;
    text-align: left;
    background-color: #545772;
	
    box-shadow: 0px 1.5px 5px black;
}
#header p {
    font-size: 20px;
    display: inline-block;
	
	padding-left: 10px;
}
#header a {
	position: relative;
    text-decoration: none;
    color: white;
}
#header ul {
	padding: 0;
	margin-right: 10px;
    margin-top: 23px;
    float: right;
}
#header > ul > li {
    display: inline;
    list-style-type: none;
}
#header > ul > li > a {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 7px;
	padding-right: 7px;
	opacity: 0.5;
}
#header > ul > li > a:hover {
    opacity: 1;
}
#header #currentPage {
	opacity: 1;
}


/* CONTENT */
#content {
	margin: 0 auto;
    padding-bottom: 100px;
	
	min-width: 50%;
	max-width: 95%;
}
#content > p {
	text-align: justify;
	opacity: 0.8;
	line-height: 1.5em;
}

/* TOPIC (SECTION HEADERS) */
.topic {
	opacity: 1 !important;
	text-align: center !important;
	
	/* Font Customization */
	font-size: 20px;
	font-weight: 900;
	color: white;
	text-transform: uppercase;
	
	/* Further Customization */
    padding-top: 10px;
	padding-bottom: 10px;
	
	border-bottom: 1px solid rgba(255, 255, 255, .9);
}

img {
	box-shadow: -0px 0px 00px -90px #000000, 60px 0px 100px -90px #000000;
}

/* CODE SECTIONS */
pre {
	/* THIS CODE IS NOT YET COMPLETE, I AM TRYING TO START BASING IT ON: http://www.tecmint.com/how-to-check-disk-space-in-linux/ and eventually I will create my own. */
	
	font-size: 12px;
	line-height: 20px;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: #051e30;
	border-color: #289ff4;
	border-style: solid;
	border-width: 1px 1px 1px 4px;
	font-family: "Courier 10 Pitch",Courier,monospace;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 10px 10px 10px 15px;
	word-wrap: break-word;
	white-space: pre-wrap;
	color: #ffffff;
}


/* TABLE */
table {
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
}
table td {
	height: 30px;
	width: 30px;
}
table tr:nth-child(odd) {
	background-color: rgba(84,87,114,0.3);
}
table tr:nth-child(even) {
	background-color: rgba(84,87,114,0.1);
}
table tr:first-child {
	color: white;
	background-color: #545772;
	box-shadow: 0px 1.5px 5px black;
}
table a {
	color: inherit;
	opacity: inherit;
}
/* Multiplication Table specific code */
.multiplicationTable {
	display: block;
	table-layout: fixed;
}
.multiplicationTable tr td:first-child {
	color: white;
	background-color: #545772;
	box-shadow: 0px 15px 5px black;
}
.multiplicationTable tr:first-child td:first-child {
	background-color: #1C1D26;
	box-shadow: none;
}
.multiplicationTable tr td {
	padding: 3px;
}


/* INPUT FIELDS */
label {
	font-weight: 600;
}
input {
	color: white;
	width: auto;
	border: none;
	padding: 12px;
	margin: 0px 0px 17px 0px;
	background-color: rgba(255, 255, 255, 0.1);
}
input[type="number"] {
	text-align: center;
	-moz-appearance: textfield;
}
input[type="number"]:focus {
	border-bottom: solid 2px #FFFFFF;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	/* To remove the obnoxious number spinner */
	-webkit-appearance: none;
    margin: 0;
}
input[type="submit"] {
	background-color: #445939;
	border: none;
}

/* FOOTER */
#footer {
    width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 85%;
}
#footer p {
	text-align: center;
	color: lightgray;
	opacity: 0.5;
}
#footer #validators {
    margin: auto;
    padding: 10px;
    display: table;
    bottom: auto;
}


/* OTHER */
.typeform-widget {
    margin-top: 10px;
    width: 100%;
    height: 600px;  
}













